body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#robo{
    width: 300px;
}
#boasvindas{
    background-color:#d9e9fd ;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
h2{
    color: #043fae;
}
.tabela{
    background-color: #043fae;
    color: #d9e9fd;
    border-radius: 20px;
    padding: 5px;
}
#listaboasvindas{
    justify-content: space-between;
}



