body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#robo{
    width: 300px;
}
#boasvindas{
    background-color:#d9e9fd ;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
h2{
    color: #043fae;
}
.tabela{
    background-color: #043fae;
    color: #d9e9fd;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
#listaboasvindas{
    justify-content: space-between;s
}

/* Parte do Davi */

.img_icone{
    width: 40px;
    height: 40px;
}

#cabeçalho{
    background-color:#c1c1c4;
}

#body_1{
    background-color: aqua;
}

#linha_amarela{
    height: 20px;
    background-color: rgb(219, 219, 5);
}
#nav_cima{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.botao_nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #c1c1c4;
}



