body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#robo{
    width: 300px;
}
#boasvindas{
    background-color:#ffffff ;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 20 40;
    margin-left: 0px;
}
#boasvindas1{
    background-color: #d9e9fd;
    border-radius: 20px;
    height: 350px;
    width: 1300px;
    display: flex;
    align-items: center;
    padding: 0 20;
    margin-right: 0px;
}
#boasvindas2{
    background-color: #d9e9fd;
    border-radius: 20px;
    margin:  0 40;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 700px;
}
h2{
    color: #043fae;
}
.tabela{
    background-color: #043fae;
    color: #d9e9fd;
    border-radius: 20px;
    padding: 5 30;
    margin: 5px;
    text-align: center;
}
#listaboasvindas{
    justify-content: space-between;
}

#recomendacoes{
    background-color:#ffffff ;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 20 40;
    margin-left: 0px;
}
#section2_1{
    background-color: #d9e9fd;
    border-radius: 20px;
    padding: 0 20;
    margin-right: 0px;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
#section2_2{
    background-color: #d9e9fd;
    border-radius: 20px;
    margin:  0 40;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding: 0 20px;
    width: 1000px;
}

#divponto{
    justify-content: center;
}


#containerproduto{
    display: flex;
    flex-wrap: wrap;
    padding: 15;
    justify-content: center;
}
#textorec{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.produto{
     background-color: rgb(255, 255, 255);
    border-radius: 10PX;
    margin: 5px;
    padding: 10px;
    color: black;
    font-size: 10px;
}

.pontos{
    width: 100px;
}
.img_produto{
    max-width:130px ;
    max-height:130px ;
}
#pedidos{
    background-color:#d9e9fd ;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    align-items: center;
}
#textoped{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.h2_2{
    color: black;
}
#textob1{
    display: flex;
    text-align: center;
    justify-content: space-between;
}



































/* Parte do Davi */

#body2{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.img_icone{
    width: 20px;
    height: 20px;
}

#cabeçalho{
    background-color:#dddd;
    margin: 0px;
    font-size: 20px;
    padding: 7px;
}

#body_1{
    background-color: white;
}

#linha_amarela{
    height: 20px;
    background-color:#feef89;
    margin: 0px;

}
#nav_cima{
    display: flex;
    gap: 5px;
    background-color: #dddd;
    border: 3px;
    height: 40px;
    align-items: center;
    padding-left: 5px;
    border-bottom: #d3d3d3 4px;
}
button{
    height: 30px;
}

.botao_nav{
    display: flex;
    align-items: center;
    background-color: #c1c1c4;
}

#text_repositorio{
    color: rgb(78, 78, 78);
}

#nav_repositorios{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(245, 245, 245);
    padding: 7px;
}

#linha_azul{
    height: 5px;
    background-color:#1b63c1;
    margin: 0px;
}

#section_3{
    background-color: #dddd;
    padding: 7px;
    align-items: center;
    display: flex;
    gap: 7px;
}

#table_2{

  border-collapse: collapse; 
  font-family: Arial, sans-serif;
}

#thead_2{
    background-color: #dddd;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

#section_5{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #dddd;
    flex-wrap: wrap;
    padding: 7px;
}

#icone_pasta_sec5{
    margin-left: auto;
    padding-right: 10px;
}

#section_6{
    background-color: #dddd;
    padding: 7px;
    align-items: center;
    display: flex;
    gap: 7px;
}

#botao1_canto_sec6{
    margin-left: auto;
    padding-right: 7px;
}


